<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hangman</title>
  </head>
  <body>
    <div class="container">
      <p>$blanks</p>
      <p>$lettersGuessed</p>
      #parse ( $textField )
      <!-- <p>$board</p> -->
    </div>
  </body>
</html>
